.container {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid var(--background-color);
}

.logo {
  font-family: Comic Sans MS, cursive, sans-serif;
  margin: 0px 5px;
}

.link {
  border: none;
  background: transparent;
  text-decoration: underline;
  font: inherit;
  padding: 0;
}

.legal {
  font-size: 12px;
}

p {
  margin: 0;
}

button:focus {
  outline: 2px solid red;
}
